In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head(20)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C

In [4]:
women = train_data.loc[train_data.Sex == "female"]["Survived"]
rate_women = sum(women)/len(women)

print("Rate of women survival: ",rate_women)

Rate of women survival:  0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == "male"]["Survived"]
rate_men = sum(men)/len(men)

print("Rate of men survival: ",rate_men)

Rate of men survival:  0.18890814558058924

# Columns with NaN
##### Embarked
##### Age: Differed by ticket class, embarked place
##### Cabin

In [6]:
print("NaN in train data: ",len(np.where(np.isnan(train_data["Age"]))[0]))
print("NaN in test data: ", len(np.where(np.isnan(test_data["Age"]))[0]))

# age_null = test_data["Age"].isnull()
# df_age_null = test_data[age_null]
# print(df_age_null)

NaN in train data:  177
NaN in test data:  86

In [7]:
# Fill NaN with According Groups
# Masters
tr_master_passenger = train_data[train_data["Name"].str.contains("Master")]
print("Master_tr:",tr_master_passenger["Age"].mean())
tr_master_passenger["Age"].fillna(tr_master_passenger["Age"].mean(),inplace = True)
train_data.update(tr_master_passenger)

t_master_passenger = test_data[test_data["Name"].str.contains("Master")]
print("Master_t:",t_master_passenger["Age"].mean())
t_master_passenger["Age"].fillna(t_master_passenger["Age"].mean(),inplace = True)
test_data.update(t_master_passenger)

# Doctors
tr_dr_passenger = train_data[train_data["Name"].str.contains("Dr")]
print("Dr:",tr_dr_passenger["Age"].mean())
tr_dr_passenger["Age"].fillna(tr_dr_passenger["Age"].mean(),inplace = True)
train_data.update(tr_dr_passenger)

t_dr_passenger = test_data[test_data["Name"].str.contains("Dr")]
print("Dr:",t_dr_passenger["Age"].mean())
t_dr_passenger["Age"].fillna(t_dr_passenger["Age"].mean(),inplace = True)
test_data.update(t_dr_passenger)

# Male
mr_passenger = train_data[train_data["Name"].str.contains("Mr")]

mr_1_C = mr_passenger[mr_passenger["Pclass"]==1][mr_passenger["Embarked"]=="C"]
mr_1_S = mr_passenger[mr_passenger["Pclass"]==1][mr_passenger["Embarked"]=="S"]
mr_2_C = mr_passenger[mr_passenger["Pclass"]==2][mr_passenger["Embarked"]=="C"]
mr_2_S = mr_passenger[mr_passenger["Pclass"]==2][mr_passenger["Embarked"]=="S"]
mr_3_C = mr_passenger[mr_passenger["Pclass"]==3][mr_passenger["Embarked"]=="C"]
mr_3_S = mr_passenger[mr_passenger["Pclass"]==3][mr_passenger["Embarked"]=="S"]
mr_3_Q = mr_passenger[mr_passenger["Pclass"]==3][mr_passenger["Embarked"]=="Q"]

mr_1_C["Age"].fillna(mr_1_C["Age"].mean(), inplace = True)
mr_1_S["Age"].fillna(mr_1_S["Age"].mean(), inplace = True)
mr_2_C["Age"].fillna(mr_2_C["Age"].mean(), inplace = True)
mr_2_S["Age"].fillna(mr_2_S["Age"].mean(), inplace = True)
mr_3_C["Age"].fillna(mr_3_C["Age"].mean(), inplace = True)
mr_3_S["Age"].fillna(mr_3_S["Age"].mean(), inplace = True)
mr_3_Q["Age"].fillna(mr_3_Q["Age"].mean(), inplace = True)

t_mr_passenger = test_data[test_data["Name"].str.contains("Mr")]

t_mr_1_C = t_mr_passenger[t_mr_passenger["Pclass"]==1][t_mr_passenger["Embarked"]=="C"]
t_mr_1_S = t_mr_passenger[t_mr_passenger["Pclass"]==1][t_mr_passenger["Embarked"]=="S"]
t_mr_2_C = t_mr_passenger[t_mr_passenger["Pclass"]==2][t_mr_passenger["Embarked"]=="C"]
t_mr_2_S = t_mr_passenger[t_mr_passenger["Pclass"]==2][t_mr_passenger["Embarked"]=="S"]
t_mr_2_Q = t_mr_passenger[t_mr_passenger["Pclass"]==2][t_mr_passenger["Embarked"]=="Q"]
t_mr_3_C = t_mr_passenger[t_mr_passenger["Pclass"]==3][t_mr_passenger["Embarked"]=="C"]
t_mr_3_S = t_mr_passenger[t_mr_passenger["Pclass"]==3][t_mr_passenger["Embarked"]=="S"]
t_mr_3_Q = t_mr_passenger[t_mr_passenger["Pclass"]==3][t_mr_passenger["Embarked"]=="Q"]


t_mr_1_C["Age"].fillna(t_mr_1_C["Age"].mean(), inplace = True)
t_mr_1_S["Age"].fillna(t_mr_1_S["Age"].mean(), inplace = True)
t_mr_2_C["Age"].fillna(t_mr_2_C["Age"].mean(), inplace = True)
t_mr_2_S["Age"].fillna(t_mr_2_S["Age"].mean(), inplace = True)
t_mr_2_Q["Age"].fillna(t_mr_2_Q["Age"].mean(), inplace = True)
t_mr_3_C["Age"].fillna(t_mr_3_C["Age"].mean(), inplace = True)
t_mr_3_S["Age"].fillna(t_mr_3_S["Age"].mean(), inplace = True)
t_mr_3_Q["Age"].fillna(t_mr_3_Q["Age"].mean(), inplace = True)


train_data.update(mr_1_C)
train_data.update(mr_2_C)
train_data.update(mr_1_S)
train_data.update(mr_2_S)
train_data.update(mr_3_C)
train_data.update(mr_3_S)
train_data.update(mr_3_Q)

test_data.update(t_mr_1_C)
test_data.update(t_mr_2_C)
test_data.update(t_mr_1_S)
test_data.update(t_mr_2_S)
test_data.update(t_mr_2_Q)
test_data.update(t_mr_3_C)
test_data.update(t_mr_3_S)
test_data.update(t_mr_3_Q)


# Female
## Mrs.
mrs_passenger = train_data[train_data["Name"].str.contains("Mrs")]

mrs_1_C = mrs_passenger[mrs_passenger["Pclass"]==1][mrs_passenger["Embarked"]=="C"]
mrs_1_S = mrs_passenger[mrs_passenger["Pclass"]==1][mrs_passenger["Embarked"]=="S"]
mrs_2_C = mrs_passenger[mrs_passenger["Pclass"]==2][mrs_passenger["Embarked"]=="C"]
mrs_2_S = mrs_passenger[mrs_passenger["Pclass"]==2][mrs_passenger["Embarked"]=="S"]
mrs_3_C = mrs_passenger[mrs_passenger["Pclass"]==3][mrs_passenger["Embarked"]=="C"]
mrs_3_S = mrs_passenger[mrs_passenger["Pclass"]==3][mrs_passenger["Embarked"]=="S"]
mrs_3_Q = mrs_passenger[mrs_passenger["Pclass"]==3][mrs_passenger["Embarked"]=="Q"]

mrs_1_C["Age"].fillna(mrs_1_C["Age"].mean(), inplace = True)
mrs_1_S["Age"].fillna(mrs_1_S["Age"].mean(), inplace = True)
mrs_2_C["Age"].fillna(mrs_2_C["Age"].mean(), inplace = True)
mrs_2_S["Age"].fillna(mrs_2_S["Age"].mean(), inplace = True)
mrs_3_C["Age"].fillna(mrs_3_C["Age"].mean(), inplace = True)
mrs_3_S["Age"].fillna(mrs_3_S["Age"].mean(), inplace = True)
mrs_3_Q["Age"].fillna(mrs_3_Q["Age"].mean(), inplace = True)

t_mrs_passenger = test_data[test_data["Name"].str.contains("Mrs")]

t_mrs_1_C = t_mrs_passenger[t_mrs_passenger["Pclass"]==1][t_mrs_passenger["Embarked"]=="C"]
t_mrs_1_S = t_mrs_passenger[t_mrs_passenger["Pclass"]==1][t_mrs_passenger["Embarked"]=="S"]
t_mrs_2_C = t_mrs_passenger[t_mrs_passenger["Pclass"]==2][t_mrs_passenger["Embarked"]=="C"]
t_mrs_2_S = t_mrs_passenger[t_mrs_passenger["Pclass"]==2][t_mrs_passenger["Embarked"]=="S"]
t_mrs_3_C = t_mrs_passenger[t_mrs_passenger["Pclass"]==3][t_mrs_passenger["Embarked"]=="C"]
t_mrs_3_S = t_mrs_passenger[t_mrs_passenger["Pclass"]==3][t_mrs_passenger["Embarked"]=="S"]
t_mrs_3_Q = t_mrs_passenger[t_mrs_passenger["Pclass"]==3][t_mrs_passenger["Embarked"]=="Q"]

t_mrs_1_C["Age"].fillna(t_mrs_1_C["Age"].mean(), inplace = True)
t_mrs_1_S["Age"].fillna(t_mrs_1_S["Age"].mean(), inplace = True)
t_mrs_2_C["Age"].fillna(t_mrs_2_C["Age"].mean(), inplace = True)
t_mrs_2_S["Age"].fillna(t_mrs_2_S["Age"].mean(), inplace = True)
t_mrs_3_C["Age"].fillna(t_mrs_3_C["Age"].mean(), inplace = True)
t_mrs_3_S["Age"].fillna(t_mrs_3_S["Age"].mean(), inplace = True)
t_mrs_3_Q["Age"].fillna(t_mrs_3_Q["Age"].mean(), inplace = True)


train_data.update(mrs_1_C)
train_data.update(mrs_2_C)
train_data.update(mrs_1_S)
train_data.update(mrs_2_S)
train_data.update(mrs_3_Q)
train_data.update(mrs_3_C)
train_data.update(mrs_3_S)

test_data.update(t_mrs_1_C)
test_data.update(t_mrs_2_C)
test_data.update(t_mrs_1_S)
test_data.update(t_mrs_2_S)
test_data.update(t_mrs_3_C)
test_data.update(t_mrs_3_S)
test_data.update(t_mrs_3_Q)


## Miss.
ms_passenger = train_data[train_data["Name"].str.contains("Miss")]
ms_passenger["Age"].fillna(ms_passenger["Age"].mean(),inplace = True)
train_data.update(ms_passenger)

t_ms_passenger = test_data[test_data["Name"].str.contains("Miss")]
t_ms_passenger["Age"].fillna(t_ms_passenger["Age"].mean(),inplace = True)
test_data.update(t_ms_passenger)
t_ms__passenger = test_data[test_data["Name"].str.contains("Ms")]
t_ms__passenger["Age"].fillna(t_ms_passenger["Age"].mean(),inplace = True)
test_data.update(t_ms__passenger)

Master_tr: 4.574166666666667
Master_t: 7.406470588235294
Dr: 39.44444444444444
Dr: 34.0

/opt/conda/lib/python3.7/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:45: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:46: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:48: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:49: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:50: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:51: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:52: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:87: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:88: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:89: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:90: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:91: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:92: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:93: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:105: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:106: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:107: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:108: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:109: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:110: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:111: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/lib/python3.7/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [8]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892.0,3.0,"Kelly, Mr. James",male,34.5,0.0,0.0,330911,7.8292,NaN,Q
1,893.0,3.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1.0,0.0,363272,7.0000,NaN,S
2,894.0,2.0,"Myles, Mr. Thomas Francis",male,62.0,0.0,0.0,240276,9.6875,NaN,Q
3,895.0,3.0,"Wirz, Mr. Albert",male,27.0,0.0,0.0,315154,8.6625,NaN,S
4,896.0,3.0,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1.0,1.0,3101298,12.2875,NaN,S

In [9]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Age","Embarked"]

X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X,y)
predictions = model.predict(X_test)

output = pd.DataFrame({"PassengerID": test_data.PassengerId, "Survived": predictions})
output['PassengerID'] = output['PassengerID'].astype(int)
output['Survived'] = output['Survived'].astype(int)
output.to_csv('my_predictions4.csv', index = False)

print("Successful!")

Successful!

In [10]:
output.head(20)

    PassengerID  Survived
0           892         0
1           893         0
2           894         0
3           895         0
4           896         0
5           897         0
6           898         1
7           899         0
8           900         1
9           901         0
10          902         0
11          903         0
12          904         1
13          905         0
14          906         1
15          907         1
16          908         0
17          909         0
18          910         0
19          911         1

In [11]:
PSSP = output["Survived"]
rate_PSSP = sum(PSSP)/len(PSSP)

print("Rate of PSSP tree: ", rate_PSSP)

Rate of PSSP tree:  0.3229665071770335

In [12]:
PSAE = output_2["Survived"]
rate_PSAE = sum(PSAE)/len(PSAE)

print("Rate of PSAE tree: ", rate_PSAE)

NameError: name 'output_2' is not defined

In [13]:
output == output_2

NameError: name 'output_2' is not defined